.blog-post {
  .blog-post-text {
    padding: 3rem;
  }
  .blog-post-img {
    min-height: 30rem;
    background-position: center center;
    background-size: cover;
  }
  @media (min-width: 768px) {
    .showcase-text {
      padding: 7rem;
    }
  }
}
